form.login {
    margin: 45px auto;
    border: 5px solid rgba(51, 51, 51, 0.619);
    border-radius: 9px;
    height: 300px;
    background-color: rgba(51, 51, 99, 0.409);
    max-width: 540px;
}

form.login h2 {
    font-size: 35px;
    text-shadow: 3px 3px 5px red;
    font-weight: 700;
    margin: 19px auto;

}

form.login input:not(input[type="checkbox"]) {
    width: 90%;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 7px 13px;
    margin: 11px auto;
    border: none;
    border-radius: 11px;
}

form.login button {
    background-color: rgba(0, 255, 255, 0.511);
    font-weight: 500;
    width: 30%;
    padding: 5px;
    font-size: 1.3rem;
    border-radius: 11px;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-left: 11px;
}